html{
    height: 100%;
}

body{
    background-color: rgba(42, 41, 41, 0.746);
    background-image: url(images/backgroundBlur.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.wrapper{
    margin-left: auto;
    margin-right:auto;
    width: 1024px;
}

header {
    height: 120px;
    width: 1024px;
}

nav{
    background-color: rgba(0, 0, 0, 0.335);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;

}
main{
    height: 500px;
    width: 1024px;
    text-align: center;
}

footer{
    background-color: rgba(0, 0, 0, 0.514);
    padding-top: 10px;
    padding-bottom: 10px;
}

h1{
    font-size: 80px;
    color: rgba(0, 0, 0, 0.644);
    font-family: fantasy,Arial, Helvetica, sans-serif;
}

p{
    font-size: 24px;
    color:rgb(220, 20, 60);
    font-family: Arial, Helvetica, sans-serif;
}

main a {
    color:rgb(31, 59, 31);
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p{
    font-size: 10px;
    text-align: center;
    color:whitesmoke;
}



